<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

  </head>


  <body>
    <nav>
      <ul>

	<li><a href="/">Home</a></li>
	<li><a href="/research">Research</a></li>
	<!-- <li><a href="/personal">Personal</a></li> -->
	<li><a href="/contact">Contact</a></li>

  <!-- <li style="float: right"><a href="https://twitter.com/SeanyWang"><img src="../images/twitter_icon.png" width=40px></a></li> -->
  <li style="float: right"><a href="mailto:shw.91127@gmail.com"><img src="../images/email_icon.png" width=40px></a></li>
  <li style="float: right"><a href="https://scholar.google.com/citations?user=z5AWRhcAAAAJ&hl=en" target="_blank"><img src="../images/google_icon.png" width=40px></a></li>
  <li style="float: right; vertical-align: top"><a href="https://www.linkedin.com/in/shw91/" target="_blank"><img src="../images/linkedin.png" width=40px></a></li>

      </ul>
    </nav>

<div class="container">

  {{ content }}
  <footer class="site-footer">
    <section class="copyright" style="float: right">
      Sean H. Wang &copy;
            {{date format="YYYY"}} &bull; All rights reserved.
            Theme by
              <a href="https://github.com/afranks86/afranks86.github.io" target="_blank">
              afranks86</a>
    </section>
  </footer>
</div>

  </body>

</html>
